# Lists

* Lists are one of the four built-in data structures in Python, together with tuples, dictionaries, and sets. 
* They are used to store an ordered collection of items, which might be of different types but usually they aren’t.
* The elements that are contained within a list are separated by commas and enclosed in square brackets.

## Other Features

* Most user data structures
* Grow and shrink size as needed
* Sequence Type and Sortable
* Supports indexing & Slicing

### Creating a List

In [2]:
# Create a simple list containing integers
my_list=[1,2,3,4,5]

In [3]:
my_list

[1, 2, 3, 4, 5]

In [4]:
# Create a  list containing multiple data types (integers/floats/strings)
mixed_list=[1,3.3,'london','delhi',5555]

In [5]:
mixed_list

[1, 3.3, 'london', 'delhi', 5555]

In [6]:
# validate the size of the list 
len(mixed_list)

5

### Selecting one Item from List

We can access any item from the list using the index operator [ ]. Inside this , we put an integer value.

In [7]:
#extract the value 'london' from the mixed list 
mixed_list[2]

'london'

##### Tip : Indices in python starts from 0 instead of 1

“Index Out Of Range” error in cases where you pass an integer value to the index operator that is bigger or way smaller than your list! It means that you are assigning a value or referring to an index that does not exist (yet)

In [8]:
mixed_list[6]

IndexError: list index out of range

In [9]:
# Negative indexing 
mixed_list[-1]

5555

#### Tip : Reverse indexing starts with -1 in python

### Selecting multiple items from list

Slicing is used to fetch multiple items or range of items from list. In this case , instead of just an integer, we also put a : in between the double brackets

In [10]:
#Select first 2 elements of the list
mixed_list[:2]

[1, 3.3]

In [11]:
#select all values of list after 2nd value
mixed_list[2:]

['london', 'delhi', 5555]

In [12]:
# items start through the end (but the end is not included!)
# a[start:end]

#### Tip : Slicing considers values only before the index number mentioned on right of :

#### Slicing along with step size

a[start:end:step]

In [13]:
my_list=[1,2,3,4,5,6,7,8,9,10]

In [15]:
#select values from 1 to 8 with step size of 2
my_list[1:9:2]

[2, 4, 6, 8]

In [19]:
#select all the values starting from index 3 with step size of 3
my_list[3::3]

[4, 7, 10]

#### Remember that your result does not include the end value index that you specify in the slice notation!

## Transform Python Lists Into Other Data Structures

#### Convert A List To A String

In [22]:
list_1=['a','b','c','d','e','f']

single_string=''.join(list_1)

print(single_string)

abcdef

In [30]:
#Another example (numerical data types)
list_2=[1,2,3,4,5,6,7,8,9,10]

#need to convert numerical datatype to strings first before converting into single string
list_2_str=''.join(str(x) for x in list_2)
print(list_2_str)

12345678910

#### Tip : If list only contains integers, you should convert the elements to strings before performing the join on them

#### Convert lists into dictionary

use dict() function along with zip function to create dictionary from lists

In [46]:
name_list=['rohit','kohli','dhoni','sehwag','yuvraj']

In [47]:
age_list=[30,28,33,40,36]

In [48]:
my_dict=dict(zip(name_list,age_list))

In [49]:
print(my_dict)

{'rohit': 30, 'kohli': 28, 'dhoni': 33, 'sehwag': 40, 'yuvraj': 36}

In [50]:
type(my_dict)

dict

#### Convert A List To A Tuple

use tuple() function to convert a list into tuple

In [33]:
my_tuple=tuple(my_list)

In [39]:
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [32]:
type(my_list)

list

In [34]:
type(my_tuple)

tuple

#### Tip : tuples are immutable. You can’t change them afterwards!

#### Convert List To A Set In Python

use set() function to convert a list into set

In [35]:
my_set=set(my_list)

In [37]:
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [40]:
type(my_set)

set

### Determine size of the list

use len() function to find the size of list

In [53]:
len(my_list)

10

### Add values to the Lists

* Assign
* Append
* Extend 
* Insert

#### Assign

In [85]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [86]:
#use existing index number to alter the value at that index
my_list[3]=100

In [87]:
my_list

[1, 2, 3, 100, 5, 6, 7, 8, 9, 10]

#### Append

In [76]:
short_list=[1,2,3,4,5]

In [77]:
#### Use append to add the new items to the list
short_list.append(6)

In [78]:
short_list

[1, 2, 3, 4, 5, 6]

#### Tip : Append can be used in case when we add a single value to the list

#### Extend

In [79]:
short_list

[1, 2, 3, 4, 5, 6]

In [80]:
# add more than 1 value to the list
short_list.extend([7,8])

In [81]:
short_list

[1, 2, 3, 4, 5, 6, 7, 8]

#### Tip : Append and Extend adds the new values at the end of the list but in case we want to add values to specific index , we use insert

### Insert

In [82]:
short_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [83]:
#insert value 99 at the index 2
short_list.insert(2,99)

In [84]:
short_list

[1, 2, 99, 3, 4, 5, 6, 7, 8]

### Delete or remove elements from a list

* Delete
* Pop
* Remove
* Assign Empty list

#### Del

In [88]:
my_list=[1,2,3,4,5,6,7,8,9,10]

In [89]:
# delete one item which is at index 2
del my_list[2]

In [90]:
my_list

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [91]:
# delete multiple items
del my_list[1:5]

In [92]:
my_list

[1, 7, 8, 9, 10]

In [93]:
# delete entire list
del my_list

In [94]:
my_list

NameError: name 'my_list' is not defined

#### Pop

remove() method is used to remove the given item and pop() method is used to remove an item at the given index

In [95]:
my_list=[1,2,3,4,5,6,7,8,9,10]

In [96]:
#remove the value at index 1
print(my_list.pop(1))

2

In [97]:
my_list

[1, 3, 4, 5, 6, 7, 8, 9, 10]

#### Remove

In [98]:
my_list=[1,2,3,4,5,6,7,8,9,10]

In [99]:
#remove the list value equal to 10
my_list.remove(10)

In [100]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Assign empty list

In [101]:
my_list=[1,2,3,4,5,6,7,8,9,10]

In [102]:
# assign 3rd index value to empty list
my_list[3]=[]

In [103]:
my_list

[1, 2, 3, [], 5, 6, 7, 8, 9, 10]

### Concatenation of 2 lists

In [105]:
list_a=['a','b','c']
list_b=['x','y','z']

In [106]:
list_total=list_a+list_b

In [107]:
list_total

['a', 'b', 'c', 'x', 'y', 'z']

### Sorting of List

In [112]:
#create a list containing strings 
alph_list=['b','z','v','r','p']

In [113]:
#use sort funtion to sort the elements within the list
alph_list.sort()

In [114]:
#validate the sorted list
alph_list

['b', 'p', 'r', 'v', 'z']

In [115]:
#create a list containing integer values
num_list=[5,98,45,76,23]

In [116]:
num_list.sort()

In [117]:
num_list

[5, 23, 45, 76, 98]

#### Tip : Sort function doesn't work in case we have a mixed data type list

### Reverse of List

In [120]:
my_list=[1,2,3,4,5,6,7,8,9,10]

In [121]:
#use reverse function on list to reverse the order of elements in list
my_list.reverse()

In [122]:
my_list

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

###### We can also use [::-1] to reverse the value of list

In [123]:
my_list=[1,2,3,4,5,6,7,8,9,10]

In [124]:
my_list[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Iterate over items of list

In [125]:
my_list=[1,2,3,4,5,6,7,8,9,10]

In [126]:
for i in my_list:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#create a new list that captures sqaured values of each item in original list

In [127]:
#create a  new integer list 
my_list=[1,2,3,4,5,6,7,8,9,10]

#create an empty list to save square value of each element in earlier list (my_list)
sq_list=[]
#for each number in my_list
for num in my_list:
    #add square value of number to sq_list
    sq_list.append(num*num)
#print the final num_sq list 
print(sq_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Thank You !