# Lists

* Lists are ordered sequences that can hold variety of object types
* Lists uses [] brackets and comma to seperate the objects [1,2,3,4]
* Lists supports indexing and slicing

In this section , we will learn :
    1. How to create a list in python
    2. How to create a list of mixed datatypes 
    3. How to access values of list 
    4. How to add /delete items from list 
    5. How to assign new value to list 
    6. How to combine two lists
    7. How to iterate over items of list
    8. How to sort items of list in python

In [30]:
#create a list with int values
simple_list=[10,20,30,40,50]

In [31]:
simple_list

[10, 20, 30, 40, 50]

In [32]:
#create a list which contains mixed data types
mixed_list=[20,'mixed',3.14]

In [33]:
mixed_list

[20, 'mixed', 3.14]

In [34]:
#access the first element/value from my list
simple_list[0]

10

In [35]:
simple_list[-1]

50

In [36]:
simple_list[4]

50

In [37]:
#access first three values from list
simple_list[0:3]

[10, 20, 30]

In [38]:
simple_list[:3]

[10, 20, 30]

In [39]:
simple_list[3:]

[40, 50]

In [40]:
# Add and delete value from list 
simple_list.append(60)

In [41]:
simple_list

[10, 20, 30, 40, 50, 60]

In [42]:
#deleting the item from list
simple_list.pop()

60

In [43]:
simple_list

[10, 20, 30, 40, 50]

In [44]:
simple_list.pop(0)

10

In [45]:
simple_list

[20, 30, 40, 50]

In [46]:
simple_list[0]

20

In [47]:
#assign new value to 0th index
simple_list[0]=10

In [48]:
simple_list

[10, 30, 40, 50]

In [1]:
# combine two list
simple_list_1=[10,20,30,40,50]
simple_list_2=[100,200,300,400,500]

In [2]:
simple_combined_list=simple_list_1+simple_list_2

In [3]:
simple_combined_list

[10, 20, 30, 40, 50, 100, 200, 300, 400, 500]

In [4]:
string_list=['delhi','london','cricket']

In [5]:
simple_combined_list+string_list

[10, 20, 30, 40, 50, 100, 200, 300, 400, 500, 'delhi', 'london', 'cricket']

In [6]:
simple_list_1

[10, 20, 30, 40, 50]

In [7]:
squared_values=[]

In [8]:
for each_item in simple_list_1:
    print(each_item)
    squared_values.append(each_item*each_item)
print(squared_values)

10
20
30
40
50
[100, 400, 900, 1600, 2500]

In [9]:
string_list=['new','old','recent','veryold']

In [10]:
alphabet_list=[]

for each_word in string_list:
    print(each_word)
    alphabet_list.append(each_word[0])

print(alphabet_list)

new
old
recent
veryold
['n', 'o', 'r', 'v']